<div class="toolbar mat-elevation-z6">
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="lead">Typeopplearning.no</span>
      <span fxFlex></span>
      <div *ngIf="!loggedIn">
        <span><button mat-button color="primary" (click)="onSignupClick()">SIGN UP</button></span>
        <span><button mat-button color="primary" (click)="onLoginClick()">LOG IN</button></span>
    </div>
    <div *ngIf="loggedIn">
      <span><button mat-button color="primary">
        <mat-icon>account_circle</mat-icon>
      </button></span>
    </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>