<!-- <mat-toolbar class="toolbar"> -->
    <mat-toolbar-row>
        <span>Search criterias:</span>
        <span><form [formGroup]="form" action="">
            <mat-form-field>
                <mat-select  formControlName='selectedCriteria'>
                    <mat-option *ngFor="let criteria of savedCriteria" [value]="criteria.id">{{criteria.name}}</mat-option>
                </mat-select>                      
            </mat-form-field>          
        </form></span>
        <!-- <span class="criteria-spacer"></span> -->
        <mat-icon class="criteria-icon" matTooltip='Add new criteria'>add</mat-icon>
        <mat-icon class="criteria-icon" matTooltip='Edit criteria'>edit</mat-icon>
        <mat-icon class="criteria-icon" matTooltip='Delete criteria'>delete</mat-icon>        
    </mat-toolbar-row>
<!-- </mat-toolbar> -->


<!-- <div class="row">
    <div class="col-md-6 col-lg-12" [ngClass]="animateOnRouteEnter">
        <mat-card id="grid-container">
            <mat-card-content>
              <div class="row">
                <div class="col">Search on:</div>
                <div class="col">
                <form [formGroup]="form" action="">
                    <mat-form-field>
                        <mat-select  formControlName='selectedCriteria' required>
                            <mat-option *ngFor="let criteria of savedCriteria" [value]="criteria.id">{{criteria.name}}</mat-option>
                        </mat-select>                      
                    </mat-form-field>
                </form>
              </div>
              <div class="col">
                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="primary">
                    <mat-icon>add</mat-icon>
                </button>                
              </div>
            </div>

            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Search<hr></mat-card-title>
            <mat-card-content>
              <form [formGroup]="form" action="">
                  <mat-form-field>
                      <mat-select  formControlName='selectedCriteria' required>
                          <mat-option *ngFor="let criteria of savedCriteria" [value]="criteria.id">{{criteria.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
              </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">
                    <mat-icon>edit</mat-icon>
                  </button>
            </mat-card-actions>
          </mat-card>      
    </div>
</div> -->
