.criteria-icon {
    padding: 0 14px;
    cursor: pointer;
  }
  
  .criteria-spacer {
    flex: 1 1 auto;
  }

  span {
      padding-right: 15px
  }

  .toolbar {
      margin-top: 1px;
      background-color: rgb(255, 255, 255);
  }