<div class="landing-container">
    <div class="bkg-img-01">
        <div class="get-certified-text">
            Get Certified. Do it Online.
        </div>
        <div class="you-can-do-the-train">
            You can do the training online from the comfort of your home or office and alleviate the requirement of having to travel and do the classroom training.
        </div>        
    </div>
    <div class="icon-container">
        <div class="spacer"></div>
        <img [src]="ico1">
        <div class="spacer"></div>
        <img [src]="ico2">
        <div class="spacer"></div>
        <img [src]="ico3">
        <div class="spacer"></div>                
    </div>
</div>